<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="styles/normalize.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
    <script src="scripts/app.js" defer></script>
</head>

<body>
    <!-- navbar to pop up modal forms -->
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a>
                    <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
                    <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#resourceModal">Post Resources</a>
                    <!-- <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#updateModal">User Profile</a> -->
                    <a id='aLogout' class="nav-item nav-link" href="#" >Log Out</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- main content area display posted resources -->
    <main>

    </main>
    <!-- signup Modal for navbar update link -->
    <section>
        <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">signup form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="signup-form">
                            <input id="email-signup" name="email-signup" type="email" placeholder="E-mail">
                            <input id="password-signup" name="password-signup" type="password" placeholder="Password">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="signup-form-close" data-dismiss="modal">Signup New User</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login Modal for navbar update link -->
    <section>
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">login form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="login-form">
                            <input id="email-login" name="email-login" type="email" placeholder="E-mail">
                            <input id="password-login" name="password-login" type="password" placeholder="Password">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="login-form-close" data-dismiss="modal">User Login</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- update Modal for navbar update link -->
    <!-- <section>
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">login form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="update-form">
                            <input id="email-update" name="email-update" type="email" placeholder="E-mail">
                            <input id="password-update" name="password-update" type="password" placeholder="Password">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="update-form-close" data-dismiss="modal">Update User</button>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- resource Modal for navbar update link -->
    <section>
        <div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Post resource form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="resource-form">
                            <select id="resource-type" name="resource-type" form="resource-form">
                                <option value="education">education</option>
                                <option value="social event">social event</option>
                                <option value="career">career</option>
                                <option value="activity">activity</option>
                                <option value="food">food</option>
                                <option value="multiple type">multiple type</option>
                            </select>
                            <textarea id="resource-body" name="resource-body" placeholder="describe this resource" form="resource-form"></textarea>
                            <input id="resource-location" name="resource-location" type="text" placeholder="resource location">
                            <input id="resource-url" name="resource-url" type="text" placeholder="resource url">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="resource-form-close" data-dismiss="modal">Post Resource</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="modal fade" id="updateResourceModal" tabindex="-1" role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Post resource form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="update-resource-form">
                            <select id="update-resource-type" name="update-resource-type" form="update-resource-form">
                                <option value="education">education</option>
                                <option value="social event">social event</option>
                                <option value="career">career</option>
                                <option value="activity">activity</option>
                                <option value="food">food</option>
                                <option value="multiple type">multiple type</option>
                            </select>
                            <textarea id="update-resource-body" name="update-resource-body" placeholder="describe this resource" form="update-resource-form"></textarea>
                            <input id="update-resource-location" name="update-resource-location" type="text" placeholder="resource location">
                            <input id="update-resource-url" name="update-resource-url" type="text" placeholder="resource url">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="update-resource-form-close" data-dismiss="modal">Post Resource</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>